# HOW TO USE:
#
# 1 Add environment variables for local development.
# 2 Rename this file to .env and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.
# https://anotepad.com/notes/3g58e7a4

SAMPLE_ENV_VAR=i-am-an-environment-variable
stripeSecretKey=sk_test_puAD1QIusVKO8YALSNaBJrl100yRJjoZe9
SLS_DEBUG=*
